.game-container {
  display: flex;
  padding: 1rem;
}
.player {
  width: 50%;
}
.winnerPanel {
  display: block;
  margin: auto;
  width: 60%;
  padding: 2rem 0;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restart {
  background-color: gray;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restart svg {
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .game-container {
    flex-direction: column;
    align-items: center;
  }
  .player {
    width: 100%;
    margin-bottom: 3rem;
  }
  .winnerPanel {
    width: 100%;
    font-size: 2.5rem;
  }
  .winnerPanel h1 {
    margin-bottom: 2rem;
  }
  .restart {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .game-container {
    flex-direction: column;
    align-items: center;
  }
  .player {
    width: 90%;
    margin-bottom: 2rem;
  }
  .winnerPanel {
    width: 90%;
    font-size: 2rem;
  }
  .winnerPanel h1 {
    margin-bottom: 2rem;
  }
  .restart {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .game-container {
    flex-direction: row;
  }
  .player {
    /* width: 50%; */
  }
}
