.title {
  text-align: center;
  font-size: 3rem;
}

.panel {
  text-align: center;
  border: white 2px dotted;
  margin: 2rem auto;
  height: 8rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel div{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.prompt {
  color: #004ae9;
  margin-bottom: 10px;
}
.btn{
  font-size: 1rem;
  margin-right: 5px;
  padding: 5px;
  background-color: gray;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(78, 78, 78);
}
.pill{
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.turn-pill{
  background-color: rgb(233, 223, 223);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
  }
  .panel {
    width: 83.5%;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 3.9rem;
  }
  .panel {
    width: 83.5%;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .panel {
    width: 85%;
  }
}
