.game-board {
  margin: 0 auto;
  border: 1px solid white;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: repeat(10, 1fr);
  gap: 1px;
  padding: 1px;
}
.block {
  position: relative;
}
.btn {
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
}
.miss {
  background-color: yellow;
}
.miss:hover {
  cursor: default !important;
}
.hit {
  background-color: green;
}
.hit:hover {
  cursor: default !important;
}
.sunk {
  background-color: red;
}
.sunk:hover {
  cursor: default !important;
}

@media only screen and (max-width: 600px) {
  .game-board {
    width: 600px;
    height: 600px;
  }
}
@media only screen and (min-width: 600px) {
  .game-board {
    width: 600px;
    height: 600px;
  }
}
